{% extends 'layouts/tree.html' %}
{% block title %}CastLib management{% endblock %}
{% block suppHeadContent %}
    <script src="/static/js/libs/nodedump-client-min.js"></script>
    <script>
        console.log('ok')
        window.json2html = nodedump;
        function run_stage( stageName ) {
            console.log('Barrel of love.')
        }
    </script>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>CastLib Tasks Management</h1>
</div>
<p class="lead">Administration long-running tasks, worker status monitoring,
scheduling, etc.</p>
<p>The CastLib python package uses processing pipeline to perform various
long-running operations on the data distributed among multiple hosts. It's
major purpose is to perform filesystem synchronisation with
<a href="castor.cern.ch">CERN CASTOR</a> storage, however the package may be
used as a standalone util to offer unified data and metadata access via REST
API of StromaV resources server.</p>

<h2>Available Instances</h2>

<p>Below are the list of running instances with lists of their locations
and tasks available on them.</p>

<div class="treeBrowser">
  <div class="zTreeWrapper">
    <ul id="indexesList-1" class="ztree"></ul>
  </div>
  <div class="treeBrowserDetails">
    <h4>Details</h4>
    <div class="treeBrowserDetailsContent" id="tree-element-details-1">
    <p>Select an item in the left panel to see its details here.</p>
    </div>
  </div>
</div>

<h2>Available Stages on Current Instance</h2>
<p>Below is the list of predefined stages available on this resources server
instance. They're merely a <code>.yaml</code> files steering CastLib pipeline
to achieve particular functions. Some of them may be ran or scheduled as is,
others may require additional permissions from user to be performed.</p>

<ul>
{% for k, v in availableTasks.iteritems() %}
<li><h3>{{ k }}</h3>
    <div>
        <span>from <code>{{v['fileLocation']}}</code></span>
    <p>{{v['comment']|safe}}</p>

    <script> // external-import
        // dump something
        //console.log(nodedump(location));
        document.write(json2html({{v['stagesJS']|safe}}));
    </script>
    <br/>
    {%if v['runnable']%}
        <button onclick="run_stage('{{k}}')">Launch</button>
    {%endif%}
    </div>
</li>
{% endfor %}
</ul>

{% endblock %}

