{% extends 'layouts/tree.html' %}
{% block title %}- Browse Synchronizable Files{% endblock %}

{% block treeAnnotation %}
<div class="page-header">
  <h1><code>castlib3</code> Filesystem Entries</h1>
</div>
<p class="lead">Index of synchronizable files.</p>

<p>This page is designed for web-browser access and provides common
information about files indexed in <code>castlib3</code> database. The main purpose
of <code>castlib3</code> synchronization module is to provide automated monitoring
of dedicated <a href="http://castor.web.cern.ch/">CERN CASTOR</a> storage
devoted to a particular (small or medium scale) experiment.</p>
{% endblock %}

{# vim ft=jinja #}

